

<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>
            {{this.title}} - {{this.description}} 
            <button onclick="addToCart('{{this._id}}', '{{this.title}}', '{{this.price}}')">Agregar al carrito</button>
        </li>
    {{/each}}
</ul>

<script>
    function addToCart(productId, productName, productPrice) {
        socket.emit('addToCart', { productId, productName, productPrice });
    }
</script>